<!-- <app-header></app-header> -->

<section id="register" class="">
  <div class="row dark-overlay">
    <div class="col-md-5">
      <img src="assets/images/register.jpg">
    </div>
    <div class="col-md-7 text-center container">
      <div class="card-for-mobile">
        <a routerLink="/" class="home">
          <p class="text-right mt-3">
            <svg color="rgb(146, 14, 187)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            go back to main site</p>
        </a>
        <div class="heading">
          <h1>sign in</h1>
          <p>welcome back!</p>
        </div>
        <div class="container register-form">
          <form>
            <div class="container">
              <mat-form-field class="form-one" appearance="outline">
                <mat-label>username or email <address></address></mat-label>
                <input matInput type="text" formControlName="username">
              </mat-form-field>
              <mat-form-field class="form-one" appearance="outline">
                <mat-label>password</mat-label>
                <input matInput type="password" formControlName="password">
              </mat-form-field>

              <a routerLink="/login/forget-password" class="home">
                <p class="text-right">
                  forget password?</p>
              </a>

              <div class="text-center">
                <button class="px-5 py-1 ml-1" color="primary" mat-button routerLink="/">enter</button>
              </div>


            </div>
          </form>

          <div class="row mt-3">
            <div class="col-md-4 hr-one">
              <hr>
            </div>
            <div class="col-md-4 mt-1">
              <p>or login using</p>
            </div>
            <div class="col-md-4 hr-two">
              <hr>
            </div>
          </div>

          <div class="row social-login">
            <div class="col-md-3 i-one">
              <span class="fa-stack">
                <a href="https://facebook.com" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
              </span>
            </div>
            <div class="col-md-3 i-two">
              <span class="fa-stack">
                <a href="https://facebook.com" target="_blank">
                    <i class="fab fa-google" color="green"></i>
                </a>
              </span>
            </div>
          </div>

          <div class="mt-5">
            <p class="text-center">
              dont have an account yet? <a routerLink="/register" class="home text-primary">Sign up</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-footer></app-footer> -->
