<app-header></app-header>
<section id="create" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 image1">
        <img src="assets/images/2.jpg">
      </div>
      <div class="image1 col-md-6 mt-5">
        <div class="card">
          <form action="">
            <p class="lead" style="font-weight: bold; text-transform: uppercase;font-size: 0.8rem;"> create </p>
            <hr>
            <h2>new blog post</h2>
            <label for="" class="mt-2"> post title </label>
            <input type="email">

            <div class="r-b">
              <button class="px-4 py-2" type="button">upload image</button>
              <input type="file">
            </div>
            <div class="image-preview">
              <img>
            </div>

            <label for="" class="mt-2"> post content </label>
            <input type="password">
            <button class="px-4 py-2">post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
