<app-header></app-header>

<section id="register" class="py-5 mt-5">
  <div class="container">
    <div class="card">
      <h2>create new wallet</h2>
      <h4>create new wallet to hold solana and SPL tokens</h4>
      <h5>please write down the mnenomics phrase in a safe place </h5>
      <div class="box">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum ullam animi natus quisquam rem, vero laboriosam veniam voluptatum harum ab minus magni, fugit alias tenetur corporis exercitationem consectetur, modi earum quibusdam voluptate mollitia totam. Dolorum cupiditate temporibus labore distinctio explicabo iure suscipit aspernatur quis magnam.</p>
      </div>
      <p class="move">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero animi optio illum sit. Laboriosam, consectetur dolores deleniti ipsa aliquam magnam consequatur.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta facere odit repudiandae! Ratione voluptatibus nam pariatur mollitia nemo suscipit facilis omnis dicta obcaecati modi eveniet non cum laboriosam odio nihil qui nostrum, quis reiciendis. Consectetur!</p>
      <span><input type="checkbox"> i have save the words in a safe place</span>
      <div class="button-left ml-auto">
        <button mat-button-raised routerLink="/wallet">continue</button>
      </div>
    </div>
    <h6>restore existing wallet</h6>
  </div>
</section>
