<app-header></app-header>

<div id="one" class="mt-5 py-5">
  <div class="container">
    <div class="card">
      <div class="wallet-details">
        <h4>wallet#name</h4>
        <p>946228946hdaagjbdclri2oryi4orncnajc2hykabhckajak3468 <span>copy-icon</span></p>
      </div>
      <hr>
      <div class="cope-details">
        <h1> <img src="assets/images/cope.svg" class="img-responsive rounded-circle">  200  COPE  <span>$2,200</span></h1>
        <div class="buttons">
          <button color="primary" mat-raised-button>send</button>
          <button mat-raised-button>recieve</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="two">
  <h4>other SPL Tokens <span class="move-span">add icon</span> <span>merge icon</span></h4>
  <div class="container">
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h1> <img src="assets/images/cope.svg" class="img-responsive rounded-circle">  200  ROPE  <span>$2,200</span></h1>
        </mat-expansion-panel-header>
        <mat-action-row >
          <button color="primary" mat-raised-button>send</button>
          <button mat-raised-button>recieve</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h1> <img src="assets/images/cope.svg" class="img-responsive rounded-circle">  200  KEKW  <span>$2,200</span></h1>
        </mat-expansion-panel-header>
        <mat-action-row >
          <button color="primary" mat-raised-button>send</button>
          <button mat-raised-button>recieve</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h1> <img src="assets/images/cope.svg" class="img-responsive rounded-circle">  200  VUE  <span>$2,200</span></h1>
        </mat-expansion-panel-header>
        <mat-action-row >
          <button color="primary" mat-raised-button>send</button>
          <button mat-raised-button>recieve</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h1> <img src="assets/images/cope.svg" class="img-responsive rounded-circle">  200  SDOG  <span>$2,200</span></h1>
        </mat-expansion-panel-header>
        <mat-action-row >
          <button color="primary" mat-raised-button>send</button>
          <button mat-raised-button>recieve</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h1> <img src="assets/images/cope.svg" class="img-responsive rounded-circle">  200  NIGG  <span>$2,200</span></h1>
        </mat-expansion-panel-header>
        <mat-action-row >
          <button color="primary" mat-raised-button>send</button>
          <button mat-raised-button>recieve</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h1> <img src="assets/images/cope.svg" class="img-responsive rounded-circle">  200  FTR  <span>$2,200</span></h1>
        </mat-expansion-panel-header>
        <mat-action-row >
          <button color="primary" mat-raised-button>send</button>
          <button mat-raised-button>recieve</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h1> <img src="assets/images/cope.svg" class="img-responsive rounded-circle">  200  SAMO  <span>$2,200</span></h1>
        </mat-expansion-panel-header>
        <mat-action-row >
          <button color="primary" mat-raised-button>send</button>
          <button mat-raised-button>recieve</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="container">
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>

      </mat-expansion-panel-header>
      <div class="post-image">
        <img>
      </div>
      <br>
      <p>  </p>
      <mat-action-row >
        <a mat-raised-button color="primary" >EDIT</a>
        <button mat-raised-button color="warn">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<br><br><br>
<app-footer></app-footer>


